# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.env
.env
venv/
env/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Images (DO NOT PUSH)
# =========================
app/images/

# =========================
# Optional: Alembic cache only
# (Keep versions unless you are sure)
# =========================
alembic/__pycache__/
